{% extends 'layout.html.twig' %} {% block title %}Listes des cadavres exquis
{{ parent() }}
{% endblock %} {% block content %}

<header class="admin">
  <div class="header">
    <div class="header__logo">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg
        id="Calque_1"
        data-name="Calque 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 248 248"
        tabindex="-1"
        aria-label="Logo loufok"
      >
        <defs>
          <style>
            svg {
              width: 20%;
            }
            .cls-1 {
              fill: #fefffe;
            }

            .cls-1,
            .cls-2 {
              stroke-width: 0px;
            }

            .cls-2 {
              fill: #101a31;
            }
          </style>
        </defs>
        <circle class="cls-2" cx="124" cy="124" r="124" />
        <path
          class="cls-1"
          d="m96,46h21.68l-10.84,58.78s-5.84,22.22,14.16,23.22c0,0,19,3,26-15l10-46h-24s6.37-21,22.18-21h27.64l-11.83,62s-4,22-34,47l-46-10s-7-17-7-23c0,0-3-20,12-76Z"
        />
        <polygon class="cls-1" points="93 156 104 187 128 164 93 156" />
        <path
          class="cls-1"
          d="m111,202s6,31,30,10c0,0,42-45,59-50,0,0,22-8,39,12l-3,6s-21-23-44-6c0,0-25,21-31,29,0,0-25,32-46,23,0,0-13-4-12-23,0,0,3-7,8-1Z"
        />
      </svg>
      <h1 class="access">Loufok</h1>
      <a class="disconnect" href="/disconnect">
        <span class="material-icons" aria-label="Boutton déconnexion">logout</span>
      </a>
    </div>
  </div>
</header>

{% if neverplayed is empty %}
<section class="section__link">
  <h2>Bienvenue, {{ nom }} </h2>
  <a
    class="section__link--a access"
    href="/joueur/lastcadavre/{{ id }}"
    id="lienVersLast"
    
    aria-label="Boutton voir votre dernière participation"
  >
    Dernier cadavre exquis réalisé
  </a>
</section>
{% else %}
<section class="section__link">
  <p class="section__link--p" tabindex="0"> {{ neverplayed}} </p>
</section>
{% endif %}

<hr />

<section class="contribution">
  <h3 class="contribution__title access" aria-label="Cadavre exquis en cours" tabindex="0">Cadavres exquis en cours</h3>

  <div class="contribution__all">
  {% if currentCadavreContributions.data is empty %}
    <!-- Si aucune fabrication de cadavre n'est en cours -->
    <p class="access" tabindex="0" aria-label="Aucune fabrication de cadavre en cours"> Aucune fabrication de cadavre en cours </p>
  {% else %}
    <!-- Si des contributions existent pour le cadavre actuel -->
    <div class="contribution__all--other">
        {% for contribution in currentCadavreContributions.data %}
            {% if contribution.texte_contribution is null %}
                <!-- Si la contribution est masquée -->
                <div class="contribution__all--div">
                    <h4 class="access" tabindex="0" aria-label="Contribution masquée"> Contribution masquée </h4>
                    <span class="contribution__all-div__firstspan"> </span>
                    <span class="contribution__all-div__secondspan"> </span>
                    <span class="contribution__all-div__lastspan"> </span>
                </div>
            {% else %}
                <!-- Si la contribution est visible -->
                <div class="contribution__all--div">
                    <h4 class="access" tabindex="0">Contribution n°{{ contribution.ordre_soumission }}</h4>
                    <p class="access" tabindex="0">{{ contribution.texte_contribution }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
  {% if randomcontribution == 1 %}
  {% if not currentCadavreContributions.played %}
  <form
      class="section__form section__form--joueur"
      action="{{ url('/joueur/contribution/' ~ id ~ '/' ~ idcadavre) }}"
      method="post"
    >
      <input
        type="hidden"
        name="cadavreId"
        value="{{ idcadavre }}"
      />
      <label for="texteContribution" class="access"> Contribution </label>
      <textarea
        id="texteContribution"
        class="access"
        aria-label="Votre contribution"
        placeholder="Vous avez entre 50 et 280 caractères d'autorisées"
        name="texteContribution"
        minlength="50"
        maxlength="280"
        required
      ></textarea>
      <span id="compteur" class="access">0/280</span>
      <button class="button button__disabled access" type="submit" disabled>
        Valider
      </button>
    </form>
     <button
      type="download"
      class="button__disabled btnbrouillon"
      id="btnBrouillon"
      aria-label="Bouton pour enregistrer les valeurs préecrites"
    >
      Conserver en brouillon
      <svg
      xmlns="http://www.w3.org/2000/svg"
      width="25"
      height="25"
      fill="currentColor"
      class="bi bi-check-circle checkmark"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
      />
      <path
        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"
      />
    </svg>
    </button>
    {% else %}
        <div class="popupValidate">
          <p class="popup_texte access" tabindex="0"> Merci d'avoir participé à ce cadavre exquis ! </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-check-circle"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"
            />
          </svg>
        </div>
    {% endif %}
    {% else %}
        <p> Vous n'avez pas encore le droit de participer à ce cadavre exquis. Revenez plus tard. </p>
    {% endif %}
    {% endif %} 

</section>

{% block scripts %}

<script src="/assets/js/compteur.js"></script>
<script src="/assets/js/joueur.js"></script>
<script src="/assets/js/popup.js"></script>
<script src="/assets/js/localstoragejoueur.js"></script>
{% endblock %} {% endblock %}
