{% extends 'layout.html.twig' %}
{% block title %}Mon profil
	{{parent()}}
{% endblock %}
{% block content %}

	<link href="../../assets/styles/main.css" rel="stylesheet" type="text/css"/>
	<section>
		<div class="profil">
			<h2 class="title">Vos information</h2>
			<div>
				<label>
					Prénom
				</label>
				<input type="text" value="{{ etudiant.prenom_etudiant }}" readonly>
			</div>
			<div>
				<label>
					Nom
				</label>
				<input type="text" value="{{ etudiant.nom_etudiant }}" readonly>
			</div>
			<div>
				<label>
					Adresse mail
				</label>
				<input type="email" value="{{ etudiant.email_etudiant }}" readonly>
			</div>
			<div>
				<label>
					Téléphone portable
				</label>
				<input type="phone" value="{{ etudiant.tel_etudiant }}" readonly>
			</div>
			<a href="{{ url('/etudiant/' ~ etudiant.id_etudiant ) }}" class="button-full">Retour</a>
		</div>
	</section>
{% endblock %}
