{% extends 'layout.html.twig' %} {% block title %} Administrateur
{{ parent() }}
{% endblock %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
<header class="admin">
  <div class="header">
    <div class="header__logo">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg
        id="Calque_1"
        data-name="Calque 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 248 248"
        aria-label="Logo Loufok"
      >
        <defs>
          <style>
            svg {
              width: 20%;
            }
            .cls-1 {
              fill: #fefffe;
            }

            .cls-1,
            .cls-2 {
              stroke-width: 0px;
            }

            .cls-2 {
              fill: #101a31;
            }
          </style>
        </defs>
        <circle class="cls-2" cx="124" cy="124" r="124" />
        <path
          class="cls-1"
          d="m96,46h21.68l-10.84,58.78s-5.84,22.22,14.16,23.22c0,0,19,3,26-15l10-46h-24s6.37-21,22.18-21h27.64l-11.83,62s-4,22-34,47l-46-10s-7-17-7-23c0,0-3-20,12-76Z"
        />
        <polygon class="cls-1" points="93 156 104 187 128 164 93 156" />
        <path
          class="cls-1"
          d="m111,202s6,31,30,10c0,0,42-45,59-50,0,0,22-8,39,12l-3,6s-21-23-44-6c0,0-25,21-31,29,0,0-25,32-46,23,0,0-13-4-12-23,0,0,3-7,8-1Z"
        />
      </svg>
      <h1 class="access">Loufok</h1>
      <a class="disconnect" href="/disconnect">
        <span class="material-icons" aria-label="Boutton déconnexion"
          >logout</span
        >
      </a>
    </div>
  </div>
</header>

<section class="section__link">
  <a
    class="section__link--a access"
    href="/administrateur/{{ id }}/currentCadavre"
    aria-label="Boutton consultation du cadavre exquis en cours"
  >
    Cadavre Exquis en cours
  </a>
</section>

<hr />

<section class="creaCadavre">
  <h3 class="creaCadavre__h3 access" tabindex="0">
    Création d'un nouveau cadavre Exquis
  </h3>

  <div id="calendar"></div>

  <form
    class="section__form"
    action="/administrateur/{{ id }}/add"
    method="post"
    aria-label="formulaire de création d'un cadavre exquis"
    tabindex="0"
  >
    <input type="hidden" name="id" value="{{ id }}" />

    <label for="titre" class="access">Titre du Cadavre Exquis</label>
    <input
      class="access"
      type="text"
      placeholder="Le titre du Cadavre Exquis doit être unique"
      name="titre"
      id="titre"
      aria-label="Choisir Titre du cadavre exquis (il doit être unique)"
      required
    /><span
      id="titreError"
      class="access"
      style="color: red"
      tabindex="0"
    ></span>

    <label for="nbContributions" class="access">Nombre de contributions</label>

    <input
      type="number"
      class="access"
      placeholder="12"
      name="nbContributions"
      id="nbContributions"
      aria-label="Choisir nombre de contribution max pour le cadavre"
      required
    />

    <span
      id="ContributionsErreur"
      class="access"
      style="color: red"
      tabindex="0"
    ></span>

    <input type="hidden" name="nbJaime" value="0" />

    <label class="access">Période de jeu</label>
    <div class="form__date">
      <div class="form__date--debut">
        <label for="dateDebut" class="access">Début</label>
        <input
          type="date"
          name="dateDebut"
          id="dateDebut"
          class="access"
          aria-label="Chosir date de début du cadavre"
          required
        />
      </div>

      <div class="form__date--fin">
        <label for="dateFin" class="access">Fin</label>
        <input
          type="date"
          name="dateFin"
          id="dateFin"
          class="access"
          aria-label="Choisir date de fin du cadavre"
          required
        />
      </div>
    </div>
    <span
      id="messageErreur"
      class="access"
      style="color: red"
      tabindex="0"
    ></span>

    <label for="texteContribution" class="access">Contribution</label>
    <textarea
      name="texteContribution"
      id="texteContribution"
      placeholder="Vous avez entre 50 et 280 caractères d’autorisées"
      required
      class="access"
      spellcheck="true"
      minlength="50"
      maxlength="280"
      aria-label="Écrire première contribution du cadavre"
    ></textarea>
    <div id="compteur" class="access">0/280</div>

    <button
      type="submit"
      class="button__disabled button access"
      id="btnValider"
      aria-label="Bouton valider la création du cadavre"
      disabled
    >
      Valider
    </button>
  </form>
  <div class="popupValidate">
    <p class="popup_texte access" tabindex="0">{{ confirmMessages }}</p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-check-circle"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
      />
      <path
        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"
      />
    </svg>
  </div>
</section>

{% block scripts %}
<script>
  var titles = {{ titles | raw }};
  var periodes = {{ periodes|json_encode|raw }};
</script>
<script>
     // Attendez que le DOM soit entièrement chargé avant d'exécuter le code
   document.addEventListener('DOMContentLoaded', function() {
      // Récupérez les données de périodes depuis le backend, encodées en JSON
      var periodes = {{ periodes|json_encode|raw }};

      // Récupérez la date actuelle depuis le backend
      var dateActuelle = new Date("{{ dateActuelle }}");

      // Sélectionnez l'élément du calendrier dans le DOM
      var calendarEl = document.getElementById('calendar');

      // Initialisez un objet FullCalendar avec les options
      var calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
              start: 'title',
              end: 'prev,next',
          },
          // Options du calendrier
          firstDay: 1,
          locale: 'fr',
          initialView: 'dayGridMonth',

          // Convertissez les données de périodes en un format compatible avec FullCalendar
          events: periodes.map(function(periode) {
              // Calculez la date de fin en ajoutant un jour à la date de fin
              var endDate = new Date(periode.end);
              endDate.setDate(endDate.getDate() + 1);

              // Retournez un objet représentant un événement pour FullCalendar
              return {
                  start: periode.start,
                  end: endDate.getFullYear() + '-' +
                      ('0' + (endDate.getMonth() + 1)).slice(-2) + '-' +
                      ('0' + endDate.getDate()).slice(-2),
                  color: '#a4fa82',
                  display: 'background'
              };
          }),
      });

      // Affichez le calendrier à l'emplacement spécifié dans le DOM
      calendar.render();
  });
</script>
<script defer src="/assets/js/popup.js"></script>
<script defer src="/assets/js/admin.js"></script>
<script defer src="/assets/js/compteur.js"></script>
<script defer src="/assets/js/popup.js"></script>
{% endblock %} {% endblock %}
