{% extends 'layout.html.twig' %} {% block title %} Administrateur - Cadavre
Actuel
{{ parent() }}
{% endblock %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
<header class="admin">
  <div class="header">
    <div class="header__logo">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg
        id="Calque_1"
        data-name="Calque 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 248 248"
      >
        <defs>
          <style>
            svg {
              width: 20%;
            }
            .cls-1 {
              fill: #fefffe;
            }

            .cls-1,
            .cls-2 {
              stroke-width: 0px;
            }

            .cls-2 {
              fill: #101a31;
            }
          </style>
        </defs>
        <circle class="cls-2" cx="124" cy="124" r="124" />
        <path
          class="cls-1"
          d="m96,46h21.68l-10.84,58.78s-5.84,22.22,14.16,23.22c0,0,19,3,26-15l10-46h-24s6.37-21,22.18-21h27.64l-11.83,62s-4,22-34,47l-46-10s-7-17-7-23c0,0-3-20,12-76Z"
        />
        <polygon class="cls-1" points="93 156 104 187 128 164 93 156" />
        <path
          class="cls-1"
          d="m111,202s6,31,30,10c0,0,42-45,59-50,0,0,22-8,39,12l-3,6s-21-23-44-6c0,0-25,21-31,29,0,0-25,32-46,23,0,0-13-4-12-23,0,0,3-7,8-1Z"
        />
      </svg>
      <h1 class="access">Loufok</h1>
      <a class="disconnect" href="/disconnect">
        <span class="material-icons" aria-label="Boutton déconnexion"
          >logout</span
        >
      </a>
    </div>
  </div>
</header>

<section class="section__link">
  <a
    href="/administrateur/{{ id }}"
    class="section__link--a access"
    aria-label="Boutton retour vers création d'un cadavre"
  >
    Retour
  </a>
</section>

<hr />

<!-- Section représentant le cadavre actuel -->

<section class="currentCadavre">
  {% set titreCadavre = currentCadavres.data[0].titre_cadavre %}

  <!-- Titre du cadavre actuel -->
  <h2
    class="currentCadavre__title access"
    tabindex="0"
    aria-details="Titre du cadavre"
  >
    {{ titreCadavre }}
  </h2>

  <!-- Boucle sur les contributions du cadavre actuel -->
  {% for currentCadavre in currentCadavres.data %}
  <div class="currentCadavre__div">
    <!-- Titre du contributeur -->
    <h3 class="currentCadavre__div--title access" tabindex="0">
      {{ currentCadavre.nom_plume }}
    </h3>

    <!-- Texte de la contribution -->
    <p class="currentCadavre__div--p access" tabindex="0">
      {{ currentCadavre.texte_contribution }}
    </p>
  </div>
  {% endfor %}
</section>

{% block scripts %} {% endblock %} {% endblock %}
